/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 245, 245);
}

h1,
h2,
a {
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 34, 34);
}

h3,
p {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-size: 20px;
}

p {
    color: #333333;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
}


ul a:hover,
footer h2:hover,
a:hover {
    color: gold;
}

header,
main {
    text-align: center;
}

footer {
    background-color: #333333;
    border-top: 3px solid #000000;
}

footer h2 {
    display: inline-block;
    padding: 30px 10px;
}

footer nav {
    float: right;
}

footer a,
footer h2 {
    color: #7e7e7e;
}

/* ================================= 
  Base Layout Styles
==================================== */

.wrapper {
    background-image: url("../images/IMG_9281.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ---- Navigation ---- */

.md-lg-footer-nav,
.fab {
    display: none;
}

.main-nav a {
    color: #eeeeee;
}

.main-nav li {
    display: block;
    padding: 1.2rem 0;
    margin: 5px 0;
}

.main-header {
    background-color: #333333;
    border-bottom: 3px solid #000000;
}

.main-header h1 {
    color: white;
    display: inline-block;
    vertical-align: top;
}

.portfolio h2 {
    padding-bottom: 25px;
    padding-top: 20px;
    margin: 0;
}

/* ---- Layout Containers ---- */

.main-nav,
.contact-info p,
.portfolio-image {
    margin: 30px;
}

.banner {
    margin: 80px auto;
    width: 80%;
}

.banner img {
    width: 100%;
    margin-bottom: 1rem;
}

.banner,
.contact-info p {
    font-size: 1.2rem;
}

.portfolio {
    background-color: #fff;
    padding: 30px 0;
}

.portfolio .project {
    width: 100%;
    margin: auto;
    padding: 15px;
}

.project {
    vertical-align: top;
    border-radius: 10px;
    margin: 25px 25px 30px 25px;
    height: 40vh;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 90%;
}

.project p {
    width: 85%;
    margin: auto;
    padding: 15px 0;
}

.contact-info {
    padding: 5rem 0;
}

.info {
    font-weight: 600;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    /* ---- Base Element Styles ---- */
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    ul li {
        display: inline-block;
        padding: 10px 10px;
        margin: 5px;
    }

    .footer-content {
        margin-bottom: 8rem;
        width: 95%;
        margin: auto;
    }

    .fab {
        display: initial;
        margin: 3px;
    }

    /* ---- Navigation ---- */
    .main-nav li {
        display: inline-block;
        padding: 15px;
        margin: 0 3px;
    }

    /* ---- Layout Containers ---- */

    .banner {
        width: 100%;
    }

    .banner p {
        text-align: start;
        margin-left: 30px;
    }

    .banner img {
        float: right;
        width: 40%;
        margin-left: 25px;
        margin-right: 30px;
    }

    .portfolio {
        background-color: #eeeeee;
    }

    .portfolio .project {
        width: 45%;
        display: inline-block;
        margin: 15px;
    }

    .project {
        border-radius: 10px;
        height: 38vh;
        box-shadow: 0 0 8px 0 #7e7e7e;
        background-color: #fff;
    }

    .project img {
        width: 100%;

    }

    .project p {
        padding: 0;
        height: 1em;
    }

    .sm-footer-nav {
        display: none;
    }

    .md-lg-footer-nav {
        display: initial;
    }

}

@media (min-width: 1024px) {

    /* ---- Base Element Styles ---- */


    /* ---- Navigation ---- */
    .logo {
        margin-right: 5px;
    }

    .main-header {
        padding: 15px;
    }

    .main-header h1 {
        float: left;
        padding-left: 30px;
    }

    .main-nav {
        float: right;
        margin: 0;
    }

    .main-nav li {
        padding: 10 20px;
        margin: 0 5px;
    }

    .footer-content {
        width: 93%;
        margin: auto;
    }

    /* ---- Layout Containers ---- */

    .portfolio {
        margin: auto;
    }

    .portfolio .project {
        width: 30%;
        display: inline-block;
    }

    .project p {
        max-width: 1200px;
    }

}